<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forgot Password | Project Manager</title>
</head>

<body class="body">
    {% include "header.html" %}

    <div class="form">
        <form id="post-form">
            {% csrf_token %}
            <h1>Forgot Password</h1>
            <div class="content">
                <p id="otp-msg" class="link"></p>
                <div class="input-field">
                    <input id="un" name="un" type="text" placeholder="Username" autocomplete="nope">
                </div>
                <div class="input-field">
                    <input id="otp" name="otp" type="number" placeholder="OTP">
                </div>
                <div class="input-field">
                    <input id="new-pass" name="newpass" type="password" placeholder="New Password">
                </div>
            </div>
            <div class="action">
                <button class="btn-active" id="btn-reset">Reset Password</button>
            </div>
        </form>
    </div>

    {% include "footer.html" %}

</body>

</html>